<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="styles.css")
        title Каталог
    body
        header.site-header
            .logo: img(src="./img/logo-new.png")
            .socials
                //- a.socials__link(href="")
                //-     svg.socials__svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', width='40px', height='40px', viewbox='0 0 97.75 97.75', xml:space='preserve', fill="#fff")
                //-         g
                //-             g
                //-                 path.active-path(d='M48.875,0C21.883,0,0,21.882,0,48.875S21.883,97.75,48.875,97.75S97.75,75.868,97.75,48.875S75.867,0,48.875,0z  M73.667,54.161c2.278,2.225,4.688,4.319,6.733,6.774c0.906,1.086,1.76,2.209,2.41,3.472c0.928,1.801,0.09,3.776-1.522,3.883   l-10.013-0.002c-2.586,0.214-4.644-0.829-6.379-2.597c-1.385-1.409-2.67-2.914-4.004-4.371c-0.545-0.598-1.119-1.161-1.803-1.604   c-1.365-0.888-2.551-0.616-3.333,0.81c-0.797,1.451-0.979,3.059-1.055,4.674c-0.109,2.361-0.821,2.978-3.19,3.089   c-5.062,0.237-9.865-0.531-14.329-3.083c-3.938-2.251-6.986-5.428-9.642-9.025c-5.172-7.012-9.133-14.708-12.692-22.625   c-0.801-1.783-0.215-2.737,1.752-2.774c3.268-0.063,6.536-0.055,9.804-0.003c1.33,0.021,2.21,0.782,2.721,2.037   c1.766,4.345,3.931,8.479,6.644,12.313c0.723,1.021,1.461,2.039,2.512,2.76c1.16,0.796,2.044,0.533,2.591-0.762   c0.35-0.823,0.501-1.703,0.577-2.585c0.26-3.021,0.291-6.041-0.159-9.05c-0.28-1.883-1.339-3.099-3.216-3.455   c-0.956-0.181-0.816-0.535-0.351-1.081c0.807-0.944,1.563-1.528,3.074-1.528l11.313-0.002c1.783,0.35,2.183,1.15,2.425,2.946   l0.01,12.572c-0.021,0.695,0.349,2.755,1.597,3.21c1,0.33,1.66-0.472,2.258-1.105c2.713-2.879,4.646-6.277,6.377-9.794   c0.764-1.551,1.423-3.156,2.063-4.764c0.476-1.189,1.216-1.774,2.558-1.754l10.894,0.013c0.321,0,0.647,0.003,0.965,0.058   c1.836,0.314,2.339,1.104,1.771,2.895c-0.894,2.814-2.631,5.158-4.329,7.508c-1.82,2.516-3.761,4.944-5.563,7.471   C71.48,50.992,71.611,52.155,73.667,54.161z', data-original='#D5A353', data-old_color=' rgb(213, 163, 83)', fill='#D5A353')

                //- a.socials__link.socials__link--info
                //-     svg.socials__svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"  x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 496.158 496.158;" xml:space="preserve" width="51.5px" height="51.5px" class="")
                //-         g
                //-             path(fill="#D5A353" class="st0" d="M511.5,256c0-141.4-114.6-256-256-256C114.1,0-0.5,114.6-0.5,256c0,141.4,114.6,256,256,256C396.9,512,511.5,397.4,511.5,256z" id="info" stroke="rgb(255, 255, 255)" stroke-linecap="butt" stroke-linejoin="miter" opacity="1")
                //-             path(fill="#fff" class="st1" d="M192.1,217.8c0-8.3,2.7-16.7,8-25.3c5.3-8.5,13.1-15.6,23.4-21.2c10.2-5.6,22.2-8.4,35.8-8.4c12.7,0,23.9,2.3,33.6,7c9.7,4.7,17.2,11,22.5,19.1c5.3,8,7.9,16.8,7.9,26.2c0,7.4-1.5,14-4.5,19.6c-3,5.6-6.6,10.4-10.8,14.5c-4.2,4.1-11.6,10.9-22.4,20.5c-3,2.7-5.4,5.1-7.2,7.2c-1.8,2.1-3.1,3.9-4,5.6c-0.9,1.7-1.6,3.4-2,5.1c-0.5,1.7-1.2,4.7-2.2,9c-1.7,9.1-6.9,13.6-15.6,13.6c-4.5,0-8.4-1.5-11.5-4.5c-3.1-3-4.7-7.4-4.7-13.3c0-7.3,1.1-13.7,3.4-19.1c2.3-5.4,5.3-10.1,9.1-14.2c3.8-4.1,8.8-8.9,15.2-14.5c5.6-4.9,9.6-8.6,12.1-11.1c2.5-2.5,4.6-5.3,6.3-8.3c1.7-3.1,2.6-6.4,2.6-10c0-7-2.6-12.9-7.8-17.7c-5.2-4.8-11.9-7.2-20.1-7.2c-9.6,0-16.7,2.4-21.3,7.3c-4.5,4.9-8.4,12-11.5,21.5c-3,9.9-8.6,14.8-16.9,14.8c-4.9,0-9-1.7-12.4-5.2C193.8,225.6,192.1,221.9,192.1,217.8z M256.1,361.7c-5.3,0-10-1.7-14-5.2c-4-3.5-6-8.3-6-14.5c0-5.5,1.9-10.1,5.8-13.9c3.8-3.8,8.6-5.6,14.2-5.6c5.5,0,10.1,1.9,13.9,5.6c3.8,3.8,5.6,8.4,5.6,13.9c0,6.1-2,10.9-5.9,14.4C265.8,359.9,261.3,361.7,256.1,361.7z" data-original="#FFFFFF" class="" stroke="rgb(255, 255, 255)" stroke-linecap="butt" stroke-linejoin="miter" id="question")
            .menu-icon: .menu-icon__middle
                        
            form.form
                input.form__input(type="text" placeholder="Поиск" area-label="Поиск")
                button.button(type="submit") Искать
        nav.main-menu
            ul.main-menu__list
                li.main-menu__item
                        a.main-menu__link(href="index.html") Главная
                        .main-menu__dropdown
                            a.main-menu__link.main-menu__sublink(href="#") Баннеры
                            a.main-menu__link.main-menu__sublink(href="#") Баннеры
                li.main-menu__item
                    a.main-menu__link(href="#") Полиграфия
                    .main-menu__dropdown
                        a.main-menu__link.main-menu__sublink(href="#") Баннеры
                        a.main-menu__link.main-menu__sublink(href="#") Баннеры
                li.main-menu__item
                    a.main-menu__link(href="#") Лого
                    .main-menu__dropdown
                        a.main-menu__link.main-menu__sublink(href="#") Баннеры
                        a.main-menu__link.main-menu__sublink(href="#") Баннеры
                li.main-menu__item
                    a.main-menu__link(href="#") Документы
                    .main-menu__dropdown
                        a.main-menu__link.main-menu__sublink(href="#") Баннеры
                        a.main-menu__link.main-menu__sublink(href="#") Баннеры
                li.main-menu__item
                    a.main-menu__link(href="#") Видео
                    .main-menu__dropdown
                        a.main-menu__link.main-menu__sublink(href="#") Баннеры
                        a.main-menu__link.main-menu__sublink(href="#") Баннеры
                li.main-menu__item
                    a.main-menu__link(href="#") Веб-Баннеры
                    .main-menu__dropdown
                        a.main-menu__link.main-menu__sublink(href="#") Баннеры
                        a.main-menu__link.main-menu__sublink(href="#") Баннеры
                li.main-menu__item
                    a.main-menu__link(href="#") Команда
                    .main-menu__dropdown
                        a.main-menu__link.main-menu__sublink(href="#") Баннеры
                        a.main-menu__link.main-menu__sublink(href="#") Баннеры
        .container
            nav.breadcrumb
                a.breadcrumb__item(href="#") Главная
                a.breadcrumb__item(href="#") Веб
                span.breadcrumb__item.breadcrumb__item--active(href="#") Баннеры
        
        section.cards
            .container
                .cards__container.cards__container--catalog
                    .cards__card
                        .cards__img: img(src="./img/graduated.jpg" alt="card img")
                        .cards__body
                            h4.cards__title Баннер выпускник
                            p.cards__text Иллюстрация для использования в социальных сетях. Скидка 20% для выпускников.
                            p.cards__format Форматы: JPEG, PSD, AI
                            a.button.button--download(href="#") Скачать архив
                        .cards__footer
                            a.cards__badge(href="#") Веб
                            a.cards__badge(href="#") Квадратные
                            a.cards__badge(href="#") ВКонтакте
                            a.cards__badge(href="#") Баннер

                    .cards__card
                        .cards__img: img(src="./img/open.png" alt="card img")
                        .cards__body
                            h4.cards__title Баннер открытие
                            p.cards__text Иллюстрация для использования в социальных сетях. Скидка 20% для выпускников.
                            p.cards__format Форматы: JPEG, PSD, AI
                            a.button.button--download(href="#") Скачать архив
                        .cards__footer
                            a.cards__badge(href="#") Веб
                            a.cards__badge(href="#") Квадратные
                            a.cards__badge(href="#") ВКонтакте
                            a.cards__badge(href="#") Баннер

                    .cards__card
                        .cards__img: img(src="./img/repost.jpg" alt="card img")
                        .cards__body
                            h4.cards__title Баннеры репост
                            p.cards__text Иллюстрация для использования в социальных сетях. Скидка 20% для выпускников.
                            p.cards__format Форматы: JPEG, PSD, AI
                            a.button.button--download(href="#") Скачать архив
                        .cards__footer
                            a.cards__badge(href="#") Веб
                            a.cards__badge(href="#") Квадратные
                            a.cards__badge(href="#") ВКонтакте
                            a.cards__badge(href="#") Баннер
                    
                    

                    .cards__card
                        .cards__img: img(src="./img/repost.jpg" alt="card img")
                        .cards__body
                            h4.cards__title Баннеры репост
                            p.cards__text Иллюстрация для использования в социальных сетях. Скидка 20% для выпускников.
                            p.cards__format Форматы: JPEG, PSD, AI
                            a.button.button--download(href="#") Скачать архив
                        .cards__footer
                            a.cards__badge(href="#") Веб
                            a.cards__badge(href="#") Квадратные
                            a.cards__badge(href="#") ВКонтакте
                            a.cards__badge(href="#") Баннер


                    .cards__card
                        .cards__img: img(src="./img/graduated.jpg" alt="card img")
                        .cards__body
                            h4.cards__title Баннеры репост
                            p.cards__text Иллюстрация для использования в социальных сетях. Скидка 20% для выпускников.
                            p.cards__format Форматы: JPEG, PSD, AI
                            a.button.button--download(href="#") Скачать архив
                        .cards__footer
                            a.cards__badge(href="#") Веб
                            a.cards__badge(href="#") Квадратные
                            a.cards__badge(href="#") ВКонтакте
                            a.cards__badge(href="#") Баннер

                            
                    .cards__card
                        .cards__img: img(src="./img/open.png" alt="card img")
                        .cards__body
                            h4.cards__title Баннеры репост
                            p.cards__text Иллюстрация для использования в социальных сетях. Скидка 20% для выпускников.
                            p.cards__format Форматы: JPEG, PSD, AI
                            a.button.button--download(href="#") Скачать архив
                        .cards__footer
                            a.cards__badge(href="#") Веб
                            a.cards__badge(href="#") Квадратные
                            a.cards__badge(href="#") ВКонтакте

                    .cards__card
                        .cards__img: img(src="./img/repost.jpg" alt="card img")
                        .cards__body
                            h4.cards__title Баннеры репост
                            p.cards__text Иллюстрация для использования в социальных сетях. Скидка 20% для выпускников.
                            p.cards__format Форматы: JPEG, PSD, AI
                            a.button.button--download(href="#") Скачать архив
                        .cards__footer
                            a.cards__badge(href="#") Веб
                            a.cards__badge(href="#") Квадратные
                            a.cards__badge(href="#") ВКонтакте
                            a.cards__badge(href="#") Баннер
                    .cards__card
                        .cards__img: img(src="./img/graduated.jpg" alt="card img")
                        .cards__body
                            h4.cards__title Баннер выпускник
                            p.cards__text Иллюстрация для использования в социальных сетях. Скидка 20% для выпускников.
                            p.cards__format Форматы: JPEG, PSD, AI
                            a.button.button--download(href="#") Скачать архив
                        .cards__footer
                            a.cards__badge(href="#") Веб
                            a.cards__badge(href="#") Квадратные
                            a.cards__badge(href="#") ВКонтакте
                            a.cards__badge(href="#") Баннер
                    .cards__card
                        .cards__img: img(src="./img/graduated.jpg" alt="card img")
                        .cards__body
                            h4.cards__title Баннер выпускник
                            p.cards__text Иллюстрация для использования в социальных сетях. Скидка 20% для выпускников.
                            p.cards__format Форматы: JPEG, PSD, AI
                            a.button.button--download(href="#") Скачать архив
                        .cards__footer
                            a.cards__badge(href="#") Веб
                            a.cards__badge(href="#") Квадратные
                            a.cards__badge(href="#") ВКонтакте
                            a.cards__badge(href="#") Баннер
        .container
            .pagination
                ul.pagination__list
                    li.pagination__item.pagination__item--prev: a.pagination__link.pagination__link--prev(href="#") Предыдущая
                    li.pagination__item: a.pagination__link(href="#") 1
                    li.pagination__item: a.pagination__link(href="#") 2
                    li.pagination__item: a.pagination__link(href="#") 3
                    li.pagination__item.pagination__item--next: a.pagination__link(href="#") Следующая

        footer.site-footer
            .site-footer__container
                .logo.logo--footer: img(src="./img/logo-new.png")
                form.form.form--footer
                    input.form__input.form__input--footer(type="text" placeholder="Подписаться на рассылку" area-label="Поиск")
                    button.button.button--footer(type="submit") Подписаться
                .socials
                    a.socials__link(href="")
                        svg.socials__svg(xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            width="51.5px" height="51.5px")
                            path(fill-rule="evenodd"  stroke="#d5a353" stroke-width="1px" stroke-linecap="butt" stroke-linejoin="miter" opacity="1" fill="#d5a353" id="facebook"
                            d="M25.500,0.500 C39.307,0.500 50.500,11.693 50.500,25.500 C50.500,39.307 39.307,50.500 25.500,50.500 C11.693,50.500 0.500,39.307 0.500,25.500 C0.500,11.693 11.693,0.500 25.500,0.500 Z")
                            path(fill-rule="evenodd"  fill="rgb(255, 255, 255)" id="facebook"
                            d="M27.485,34.492 L23.487,34.492 L23.487,25.995 L21.489,25.995 L21.489,22.722 L23.487,22.722 L23.487,20.758 C23.487,18.088 24.615,16.499 27.819,16.499 L30.488,16.499 L30.488,19.773 L28.821,19.773 C27.573,19.773 27.490,20.231 27.490,21.083 L27.485,22.722 L30.507,22.722 L30.153,25.995 L27.485,25.995 L27.485,34.492 Z")
                    a.socials__link
                        svg.socials__svg(
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            width="51.5px" height="51.5px")
                            path(fill-rule="evenodd"  stroke="#d5a353" stroke-width="1px" stroke-linecap="butt" stroke-linejoin="miter" opacity="1" fill="#d5a353" id="google"
                            d="M25.500,0.500 C39.307,0.500 50.500,11.693 50.500,25.500 C50.500,39.307 39.307,50.500 25.500,50.500 C11.693,50.500 0.500,39.307 0.500,25.500 C0.500,11.693 11.693,0.500 25.500,0.500 Z")
                            path(fill-rule="evenodd"  fill="rgb(255, 255, 255)" id="google"
                            d="M36.850,26.569 L36.850,29.180 L34.922,29.180 L34.922,26.569 L32.271,26.569 L32.271,24.671 L34.922,24.671 L34.922,22.060 L36.850,22.060 L36.850,24.671 L39.500,24.671 L39.500,26.569 L36.850,26.569 ZM23.115,33.499 C18.910,33.499 15.501,30.141 15.501,26.000 C15.501,21.858 18.910,18.500 23.115,18.500 C25.095,18.500 26.897,19.246 28.252,20.465 L26.007,22.630 C25.227,21.979 24.218,21.586 23.115,21.586 C20.640,21.586 18.633,23.562 18.633,26.000 C18.633,28.438 20.640,30.413 23.115,30.413 C25.030,30.413 26.664,29.231 27.305,27.566 L23.019,27.566 L23.019,24.433 L27.305,24.433 L30.537,24.433 L30.562,24.433 C30.672,24.939 30.729,25.462 30.729,26.000 C30.729,30.141 27.320,33.499 23.115,33.499 Z")
                    a.socials__link
                        svg.socials__svg(
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            width="51.5px" height="51.5px")
                            path(fill-rule="evenodd"  stroke="#d5a353" stroke-width="1px" stroke-linecap="butt" stroke-linejoin="miter" opacity="1" fill="#d5a353" id="twitter"
                            d="M25.500,0.500 C39.307,0.500 50.500,11.693 50.500,25.500 C50.500,39.307 39.307,50.500 25.500,50.500 C11.693,50.500 0.500,39.307 0.500,25.500 C0.500,11.693 11.693,0.500 25.500,0.500 Z")
                            path(fill-rule="evenodd"  fill="rgb(255, 255, 255)" id="twitter"
                            d="M33.500,20.157 C32.875,20.439 32.202,20.629 31.497,20.714 C32.217,20.277 32.770,19.585 33.030,18.760 C32.355,19.164 31.610,19.459 30.815,19.616 C30.179,18.930 29.273,18.502 28.270,18.502 C26.344,18.502 24.782,20.082 24.782,22.036 C24.782,22.312 24.813,22.582 24.873,22.840 C21.975,22.693 19.405,21.286 17.685,19.148 C17.385,19.669 17.214,20.277 17.214,20.925 C17.214,22.150 17.830,23.233 18.765,23.866 C18.193,23.847 17.655,23.688 17.185,23.423 C17.185,23.438 17.185,23.453 17.185,23.467 C17.185,25.181 18.387,26.608 19.983,26.934 C19.690,27.014 19.383,27.058 19.064,27.058 C18.840,27.058 18.621,27.035 18.408,26.994 C18.852,28.397 20.140,29.420 21.666,29.449 C20.472,30.396 18.968,30.961 17.334,30.961 C17.053,30.961 16.775,30.944 16.502,30.912 C18.045,31.914 19.878,32.500 21.848,32.500 C28.262,32.500 31.770,27.114 31.770,22.445 C31.770,22.291 31.766,22.140 31.760,21.988 C32.441,21.489 33.033,20.867 33.500,20.159 L33.500,20.157 Z")
                    a.socials__link
                        svg.socials__svg(
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            width="51.5px" height="51.5px")
                            path(fill-rule="evenodd"  stroke="#d5a353" stroke-width="1px" stroke-linecap="butt" stroke-linejoin="miter" opacity="1" fill="#d5a353" id="linkedin"
                            d="M25.500,0.500 C39.307,0.500 50.500,11.693 50.500,25.500 C50.500,39.307 39.307,50.500 25.500,50.500 C11.693,50.500 0.500,39.307 0.500,25.500 C0.500,11.693 11.693,0.500 25.500,0.500 Z")
                            path(fill-rule="evenodd"  fill="rgb(255, 255, 255)" id="linkedin"
                            d="M31.078,31.507 L31.078,26.095 C31.078,24.734 30.581,23.807 29.339,23.807 C28.393,23.807 27.828,24.432 27.582,25.037 C27.489,25.252 27.468,25.555 27.468,25.857 L27.468,31.507 L24.039,31.507 C24.039,31.507 24.084,22.338 24.039,21.390 L27.468,21.390 L27.468,22.823 C27.461,22.834 27.452,22.846 27.445,22.856 L27.468,22.856 L27.468,22.823 C27.923,22.134 28.736,21.152 30.558,21.152 C32.814,21.152 34.507,22.597 34.507,25.705 L34.507,31.507 L31.078,31.507 ZM20.426,20.008 L20.403,20.008 C19.252,20.008 18.509,19.231 18.509,18.259 C18.509,17.267 19.275,16.510 20.448,16.510 C21.622,16.510 22.344,17.267 22.365,18.259 C22.365,19.231 21.622,20.008 20.426,20.008 ZM22.140,31.507 L18.712,31.507 L18.712,21.390 L22.140,21.390 L22.140,31.507 Z")
                    a.socials__link
                        svg.socials__svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"  x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 496.158 496.158;" xml:space="preserve" width="51.5px" height="51.5px" class="")
                            g
                                path(fill="#D5A353" class="st0"  d="M511.5,256c0-141.4-114.6-256-256-256C114.1,0-0.5,114.6-0.5,256c0,141.4,114.6,256,256,256C396.9,512,511.5,397.4,511.5,256z" id="info" stroke="rgb(255, 255, 255)" stroke-linecap="butt" stroke-linejoin="miter" opacity="1")
                                path(fill="#fff" class="st1" d="M192.1,217.8c0-8.3,2.7-16.7,8-25.3c5.3-8.5,13.1-15.6,23.4-21.2c10.2-5.6,22.2-8.4,35.8-8.4c12.7,0,23.9,2.3,33.6,7c9.7,4.7,17.2,11,22.5,19.1c5.3,8,7.9,16.8,7.9,26.2c0,7.4-1.5,14-4.5,19.6c-3,5.6-6.6,10.4-10.8,14.5c-4.2,4.1-11.6,10.9-22.4,20.5c-3,2.7-5.4,5.1-7.2,7.2c-1.8,2.1-3.1,3.9-4,5.6c-0.9,1.7-1.6,3.4-2,5.1c-0.5,1.7-1.2,4.7-2.2,9c-1.7,9.1-6.9,13.6-15.6,13.6c-4.5,0-8.4-1.5-11.5-4.5c-3.1-3-4.7-7.4-4.7-13.3c0-7.3,1.1-13.7,3.4-19.1c2.3-5.4,5.3-10.1,9.1-14.2c3.8-4.1,8.8-8.9,15.2-14.5c5.6-4.9,9.6-8.6,12.1-11.1c2.5-2.5,4.6-5.3,6.3-8.3c1.7-3.1,2.6-6.4,2.6-10c0-7-2.6-12.9-7.8-17.7c-5.2-4.8-11.9-7.2-20.1-7.2c-9.6,0-16.7,2.4-21.3,7.3c-4.5,4.9-8.4,12-11.5,21.5c-3,9.9-8.6,14.8-16.9,14.8c-4.9,0-9-1.7-12.4-5.2C193.8,225.6,192.1,221.9,192.1,217.8z M256.1,361.7c-5.3,0-10-1.7-14-5.2c-4-3.5-6-8.3-6-14.5c0-5.5,1.9-10.1,5.8-13.9c3.8-3.8,8.6-5.6,14.2-5.6c5.5,0,10.1,1.9,13.9,5.6c3.8,3.8,5.6,8.4,5.6,13.9c0,6.1-2,10.9-5.9,14.4C265.8,359.9,261.3,361.7,256.1,361.7z" data-original="#FFFFFF" class="" stroke="rgb(255, 255, 255)" stroke-linecap="butt" stroke-linejoin="miter" id="question")

    script(src="scripts.js")


        

            